body {
  background: linear-gradient(to left, #ff0000, #750000);
  text-align: center;
  margin-top: 250px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.button {
  margin-top: 50px;
  font-size: 20px;
  border-radius: 25px;
  border: 0;
  background-color: rgb(207, 75, 75);
  font-family: "Courier New", Courier, monospace;
  transition: all 0.1s linear;
}

.button:hover {
  background-color: rgb(175, 64, 64);
  cursor: pointer;
}

.sound {
  display: none;
}

@media (max-width: 575px) {
  body {
    margin-top: 60px;
  }
}
